/*  your css code here. If applicable */
/* *{margin: 0;
	padding:0; } */
#yellow{
	 background-color: rgb(255,255,0);
	border-style: solid;
	Border-width: 1px;
	Border-color: green;
}

#red{
	 background-color: rgb(255,0,0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#green{
	 background-color: rgb(128,0,0);
	border-style: solid;
	border-width: 1px;
	border-color: yellow;
}